@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';

.landing-container {
  height: calc(100vh - 320px);
  width: 100%;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
  padding: 100px;
  display: grid;
  grid-auto-columns: 33% 33% 33%;
  grid-auto-rows: 50% 50%;
  
  .self-blurb-container {
    margin: 0;
    font-size: 1.4em;
    opacity: 1;
    transition: 1000ms;  
  }

  .fade-text {
    opacity: 0;
  }

  @media only screen and (max-width: $lgDevice) {
    
    .something-cool-container {
      margin: 0;
      height:50px;
      border-bottom: solid 35px rgba(0,0,0,0.2);
      border-left: solid 35px transparent;
    }
    
    .self-blurb-container {
      margin: 0;
      font-size: 3em;
      width: 100%;
    }
  }
  @media only screen and (max-width: $mdDevice) {
    margin: 50px 0;
    padding: 0 16px;
    .something-cool-container {
      margin: 0;
    }
    .self-blurb-container {
      margin: 0;
      font-size: 2em;
      width: 100%;
      font-weight: 900;
    }
  }
  @media only screen and (max-width: $smDevice) {
    margin-left:0px;
    padding: 0 16px;
    .something-cool-container {
      margin: 0;
      height:20px;
    }
    
    .spin {
      padding: 3px !important;
      font-size: 1em;
    }
    
    .self-blurb-container {
      margin: 0;
      font-size: 1.4em;
      width: 100%;
    }
  }
  
  @media only screen and (max-width: $xsDevice) {
    margin-left:0px;
    padding: 10px;
    .spin {
      padding: 3px !important;
      font-size: 1em;
    }
  }

}