@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';

.landing-container {
  height: calc(100vh - 220px);
  width:100%;
  margin-left: 100px;
  color:#fff;
  overflow: hidden;

  .something-cool-container {
    margin: 0;
    height:100px;
    // border:solid 1px $grayish;
    border-bottom: solid 35px rgba(0,0,0,0.2);
    border-left: solid 35px transparent;
  }
  
  .self-blurb-container {
    margin: 0;
    font-size: 3.4em;
  }

  @media only screen and (max-width: $lgDevice) {
    margin-left: 80px;
    .something-cool-container {
      margin: 0;
      height:100px;
      border-bottom: solid 35px rgba(0,0,0,0.2);
      border-left: solid 35px transparent;
    }
    
    .self-blurb-container {
      margin: 0;
      font-size: 3.4em;
      width: 80%;
    }
  }
  @media only screen and (max-width: $mdDevice) {
    margin-left:40px;
    .something-cool-container {
      margin: 0;
    }
    .self-blurb-container {
      margin: 0;
      font-size: 2em;
    }
  }
  @media only screen and (max-width: $smDevice) {
    margin-left:20px;
    .something-cool-container {
      margin: 0;
      height:20px;
    }
    .self-blurb-container {
      margin: 0;
      font-size: 1.8em;
      width: 100%;
    }
  }

}