@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';
.canvas-container {
  width:100vw;
  height:100px;
  // background: white;
  .canvas {
    position: relative;
    width:100vw;
    height:100px;
    z-index: 10;
    // background: pink;
  }
  @media only screen and (max-width: $lgDevice){}
  @media only screen and (max-width: $mdDevice){
    width:100vw;
    height:100px;
  }
  @media only screen and (max-width: $smDevice){}
  @media only screen and (max-width: $xsDevice){}
}