@import '../__styles/responsive.scss';

$hover-color: #fcfa85;

.banner-container {
  position: fixed;
  display: flex;
  flex-flow: row;
  color:white;
  font-weight: 400;
  justify-content: center;
  top: 33px;
  height:50px;
  margin: 5px;

  .toggle-logo-container {
    display: none;
  }

  .banner-item {
    font-size: 2em;
    font-weight: 100;
    margin: 5px 20px;
  }

  .name {
    color: #fcfa85;
  }
  // .role {
  //   color: #fcfa85;
  // }
  
  @media only screen and (max-width: $lgDevice) {
    display: flex;
    display: row;
    justify-content: flex-start;
    margin: 0;
    top: 8px;
    left: 0px;
    width: 100%;
    .toggle-logo-container {
      height: 100px;
      width: 100%;
      display: flex;
      .navbar-toggle {
        position: absolute;
        flex-flow: row;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        font-size: 1em;
        color: rgba(255,255,255,0.8);
        .fa-bars{
          font-size: 2em;
        }
      }
    }
    .name {
      position: absolute;
      top:0px;

      font-size: 2em;
      align-self: center;
    }
    .underscore {
      display: none;
    }
    .role {
      display: none;
    }
  }
  @media only screen and (max-width: $mdDevice) {
    display: flex;
    display: row;
    justify-content: flex-start;
    margin: 0;
    top: 8px;
    left: 0px;
    width: 100%;
    .toggle-logo-container {
      height: 100px;
      width: 100%;
      display: flex;
      .navbar-toggle {
        position: absolute;
        flex-flow: row;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        font-size: 1em;
        color: rgba(255,255,255,0.8);
        .fa-bars{
          font-size: 2em;
        }
      }
    }
    .name {
      position: absolute;
      top:0px;

      font-size: 2em;
      align-self: center;
    }
    .underscore {
      display: none;
    }
    .role {
      display: none;
    }
  }
  @media only screen and (max-width: $smDevice) {
    display: flex;
    display: row;
    justify-content: flex-start;
    margin: 0;
    top: 5px;
    left: 0px;
    .toggle-logo-container {
      width: 100%;
      .navbar-toggle {
        position: absolute;
        display: flex;
        flex-flow: row;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        font-size: 1em;
        color: rgba(255,255,255,0.8);
        .fa-bars{
          font-size: 2em;
        }
      }
    }
    .name {
      position: absolute;
      top:0px;

      font-size: 2em;
      align-self: center;
    }
    .underscore {
      display: none;
    }
    .role {
      display: none;
    }
  }
}