@import '../styles/globals.scss';
@import '../styles/responsive.scss';


.playgroundContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0;

    .playgroundHeader {
        padding-top: 10px;
        border-top: solid 1px #F3066D;

        .label {
            font-size: $componentLabelFontSize_Desktop;
        }

    }

    .playgroundContent {
        height: 100%;
        width: 100%;
    }
}