@import '../styles/globals.scss';
@import '../styles/responsive.scss';


.playgroundContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;

    .playgroundHeader {
        padding-top: 10px;
        border-top: solid 1px #444;

        .label {
            font-size: $componentLabelFontSize_Desktop;
        }

    }

    .playgroundContent {
        flex: 0.9 1 auto;
        background-color: #444;
    }
}