@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';
@import '../__styles/mixins.scss';

.contact-container {
  position: relative;
  margin: 10% auto;
  padding: 0 84px;
  background-color: $transWhite;
  border: 0px;
  
  @include fade-load-mixin;
  
  .letter {
    color:black;
    font-size: 2em;
    font-weight: 900;
  }
  .contact-item {
    color:black;
    margin: 10px 0 0 100px;
  }
  
  .email-address {
    color:$teal;
    color:$pink;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    .fa-clipboard {
      margin-left: 20px;
    }
    img {
      width: 100px;
    }
    span {
      margin: 0;
      color:$teal;
    }

  }

  @media only screen and (max-width: $lgDevice) {
    bottom: 100px;
    position: relative;
    margin: 10% auto;
    font-size: 2em;
    .contact-item {
      margin: 0;
    }
  }
  
  @media only screen and (max-width: $mdDevice) {
    margin: 40% auto;
    padding: 10px;
    width: 80%;
    font-size: 1em;
    height: 28%;
  }

  @media only screen and (max-width: $smDevice) {
    margin: 40% auto;
    padding: 10px;
    font-size: 0.9em;
    width: 90%;
  }
  
  @media only screen and (max-width: $xsDevice) {
    font-size: 0.7em;
  }
}