@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';
@import '../__styles/mixins.scss';

.contact-container {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 1em;
  @include fade-load-mixin;

  .contact-item {
    color:black;
    margin: 10px 0 0 100px;
    font-size: 2.5em;
  }
  
  .name {}
  
  .title {}
  
  .email-address {
    color:$teal;
    color:$pink;
    .fa-clipboard {
      margin-left: 20px;
    }
    img {
      width: 100px;
    }
    span {
      font-size: 1em;
      margin: 0;
      color:$teal;
    }
  }

  .phone-number {}

  @media only screen and (max-width: $lgDevice) {
    right: 50px;
    bottom: 100px;
    .contact-item {
      margin: 0;
    }
  }

  @media only screen and (max-width: $mdDevice) {}

  @media only screen and (max-width: $smDevice) {
    bottom: 0;
    right: 10px;
    font-size: 0.7em;
  }
  
  @media only screen and (max-width: $xsDevice) {
    bottom: 0;
    right: 0;
  }
}