$hover-color: #fcfa85;
.modal-container {

    h1 {
      font-size: 1.3em;
      margin: 5px 15px;
      &:hover {
        color:$hover-color;
        cursor: pointer;
      }
    }
  .list-container {
    display: flex;
  }
  .list-container-active {
    display: flex;
    width:500px;
    height:200px;
  }
}