@import '../../../__styles/responsive.scss';
@import '../../../__styles/globals.scss';

$employment:$pink;

.employment-container {
  width:94%;
  border-top:0.1px solid $employment;
  display: flex;
  flex-flow: column;
  margin: 10px;
  padding: 10px;

  ul {
    list-style-type: circle;
    li {}
  }

  .employer-name {
    color:$employment;
    font-weight: 400;
  }
  .role {
    color:$yellow;
    font-weight: 100;
  }
  .duration {}
  .role-description {}

  .projects-container {}
  .tech-container {}

  @media only screen and (max-width: $lgDevice) {}
  @media only screen and (max-width: $mdDevice) {}
  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $xsDevice) {}
}