@import '../../../__styles/responsive.scss';
@import '../../../__styles/globals.scss';

.employment-container {
  width:400px;
  height:200px;
  border:1px solid salmon;

  ul {
    li {}
  }

  .employer-name {}
  .role {}
  .duration {}
  .role-description {}

  .projects-container {}
  .tech-container {}

  @media only screen and (max-width: $lgDevice) {}
  @media only screen and (max-width: $mdDevice) {}
  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $xsDevice) {}
}