@import '../../../__styles/responsive.scss';
@import '../../../__styles/globals.scss';

.resume-container {
  border-top: 0.1px solid $pink;
  display: flex;
  flex-flow: column;
  width: 48%;
  font-weight: 400;
  margin: 0 20px 0 0;
  
  .resume-sub-container {}
  
  .text-container {
    display: flex;
    flex-flow: column;
    margin: 10px;
    padding: 10px;
    .resume-text {
      color: $pink;
      font-weight: 400;
    }
  }

  .image-container {
    margin: 8px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    a {
      margin: 18px;
      i {
        color: $antiquewhite;
        transform: rotate(-10deg);
        transition: 500ms;
        z-index: 0;
        &:hover {
          color: $yellow;
          transform: rotate(0deg);
          transform: scale(1.2);
        }
      }
    }
  }

  @media only screen and (max-width: $mdDevice) {
    width: 100%;
  }
  @media only screen and (max-width: $smDevice) {
    width: 100%;
  }
  @media only screen and (max-width: $xsDevice) {
    width: 100%;
  }
}