@import url('https://fonts.googleapis.com/css?family=Passion+One:900|Plaster|Rubik+Mono+One|Titillium+Web:900');

font-family: 'Rubik Mono One', sans-serif;
font-family: 'Plaster', cursive;
font-family: 'Passion One', cursive;
font-family: 'Titillium Web', sans-serif;

