@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';

@mixin landing-bubble($max-elems) {
  @for $i from 1 through $max-elems {
    &:nth-child(#{$i}) {
      animation: 2s ease-in-out 1 pulse;
    }
  }
}

@mixin landing-bubble-desktop($max-elems) {
  @for $i from 1 through $max-elems {
    &:nth-child(#{$i}) {
      animation: 2s ease-in-out 1 pulse-desktop;
    }
  }
}

@mixin bubble-1-desktop {
  animation: 3s ease 1 bubble-one;
}


@keyframes bubble-one {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-desktop {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.25;
    color:$pink;
  }
  25% {
    opacity: 0.5;
    color:$pink;
  }
  50% {
    background-color: #fff;
    color:$pink;
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  50% {
    font-size: calc(0%);
    background-color: $pink;
    color:#fff;
    display:none;
  }
  100% {
    opacity: 1;
  }
}