@import '../__styles/responsive.scss';
@import '../__styles/globals.scss';
$hover-color: #fcfa85;

.about-container {
  color:#fff;
  width: 100%;
  overflow-y: scroll;
  margin-left: 140px;

  .fas {
    margin: 16px 33px -40px 600px;
    transform: rotate(30deg);
    width: 100px;
    z-index: -1;
    opacity: 0.1;
  }

  .self-blurb-container {
    margin: 0 auto;
  }
  .icons-container {
    // width: 94%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: rgba(136, 141, 170, 0.1);
    .icon {
      color:white;
      margin:30px;
      padding:3px;
      height:50px;
      border: solid 0px $grayish;
      border-radius: 10px;
    }
  }

  .resume-skillset-block {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tech-knowledge-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .education-block-container {
    // margin-top: 57px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .education-header {
      
    }
    .employment-header {
      
    }
  }
  
  .professional-history-block-container {
    margin-top: 57px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }


  h5{
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.6em;
  }

  @media only screen and (max-width: $lgDevice) {
    display: block;
    width: 100%;
    margin-left: 20px;
    overflow: scroll;


  .fas {
    margin: 16px 33px -40px 400px;
    transform: rotate(30deg);
    width: 100px;
    z-index: -1;
    opacity: 0.1;
  }

  .tech-knowledge-container {
    display: flex;
    flex-flow: column;
    height: auto;
    overflow: scroll;
  }
}

  @media only screen and (max-width: $mdDevice) {
    display: block;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 0px;

  .fas {
    margin: 16px 33px -40px 100px;
    transform: rotate(30deg);
    width: 100px;
    z-index: -1;
    opacity: 0.1;
  }

    .tech-knowledge-container {
      display: flex;
      flex-flow: column;
      height: auto;
    }
  }
  @media only screen and (max-width: $smDevice) {
    display: block;
    flex-flow: column;
    height: auto;
    justify-content: space-between;
    margin-left: 0px;
    .tech-knowledge-container {
      display: flex;
      flex-flow: column;
      height: auto;
    }

}
  @media only screen and (max-width: $xsDevice) {}

}