@import '../__styles/globals.scss';
@import '../__styles/responsive.scss';

.work-container {
  height: calc(100vh - 220px);
  width:100%;
  margin-left: 100px;
  color:#fff;
  .work-data-list-contaner {

    .data-item-container {

      .item-name{}
      .item-stack{}
      .item-description{}
      .item-url{}
      .item-github{}

    }
  }

  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $smDevice) {}
}