@import '../__styles/responsive.scss';
@import '../__styles/globals.scss';

/*
Animating the menu with Sass
(https://glennmccomb.com/articles/creating-smooth-sequential-animations-with-sass/)

.tile:nth-child(1) {
  animation-delay: .1s;
}

@animation

@keyframes drop {
  0% {
    background: $tile-bg;
    transform: scale(1);
  }
  
  25% {
    background: darken($tile-bg, 10%);
    transform: scale(1.015);
  }
  
  50% {
    background: $tile-bg;
    transform: scale(1);
  }
*/



.lil-nav-container {
  position: absolute;
  width: 100%;
  color: #fff;
  display: flex;
  right: 6.28% * 2;
  top: 3.14%;
  width: 31.4%;
  flex-flow: column;
  align-items: flex-end;
  
  .nav-btn {
    cursor: pointer;
    align-self: flex-start;
    width: 33px;
    height: 33px;
    padding: 4px;
    &:active {
      background: pink;
    }
  }
  
  .nav-list {
    display: none;

    .list-item {
      width: 100%;
      font-weight: 900;
      transform: skew(33deg);
      color:#fff;
      text-decoration: none;
      align-self: center;
      padding: 7px;
      margin: 7px;
      border-right: 2px solid $lighterpink;
      background-color: rgba(0,0,0,0.5);
      &:hover {
        color:$lighterpink;
        border-bottom: 1px solid $yellow;
        border-right: 4px solid $yellow;
        border-bottom-right-radius: 5px;
        
      }
      a {}
    }
  }

  .no-show {
    transform: skew(-33deg);
    display: flex;
    flex-flow: column;
    padding: 14px;
    width: 314px;
  }

  @media only screen and (max-width: $lgDevice) {}
  @media only screen and (max-width: $mdDevice) {}
  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $xsDevice) {}
}