@import './__styles/responsive.scss';

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  .routes-container{
    // height: 700px;
    width: 900px;
    overflow: scroll;
    margin: 153px 5px;
    top:103px;
    background-color: rgba(0,0,0,0.06);
    scroll-behavior: smooth;
    box-shadow: inset 0px 0px 1px #111;
  }

  @media only screen and (max-width: $mdDevice) {}
  @media only screen and (max-width: $smDevice) {}
  @media only screen and (max-width: $xsDevice) {}
}

