.nav-container { 

 

  display: -webkit-flex; 

  display: flex; 

  position: fixed; 

  width: 100px; 

  opacity: 0.1; 

  height: 400px; 

  margin: 50px 0px; 

  left: 30px; 

  z-index: 12; 

  transition: opacity 1s; 

  top: 123px; 

} 



// (xlDevice) 

.nav-container .nav-list { 

  position: absolute; 

  left: 10px; 

  top: 0; 

} 