
@import '../__styles/responsive.scss';

$hover-color: #fcfa85;

.nav-container {
  display: flex;
  position: fixed;
  width:100px;
  opacity: 0.1;
  height:400px;
  margin: 77px 0px;
  left:30px;
  
  z-index: 5;
  transition: opacity 1s; 
  overflow-y: scroll;
  &:hover {
    opacity: 1;
  }

  .navbar-toggle {
    display:none;
  }
  ul {
    list-style: none;
    li {
      transform: rotate(20deg);
      height: 90px;
      font-size: 26px;
      a {
        text-decoration: none;
        font-size: 2em;
        color:#fff;
        font-weight: 100;
        &:hover {
          animation: 0.5s ease 0s navbuzz 1;
          color:$hover-color;
        }
        &:click {
          animation: 0.5s ease 0s navbuzz 1;
          color:$hover-color;
        }
      }
      &:last-child {
        margin-bottom: 100px;
      }
    }
  }
}

@media only screen and (max-width: $xlDevice) {
  .nav-container{
    position: fixed;
    width: 100%;
    top:83px;
    margin: 0;
    font-size: 1.6em;
    display: flex;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 1;
    .nav-list {
      position: absolute;
      left: 10px;
      top: 18%;
    }
    ul {
      li {
        height: 90px;
      }
    }
  }
  .active {
    display: flex;
    background:black;
    width:100%;
    height:100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    left: 0px;
    
  }
}
@media only screen and (max-width: $lgDevice) {
  .nav-container{
    position: fixed;
    width: 100%;
    top:83px;
    margin: 0;
    font-size: 1.6em;
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    .nav-list {
      position: absolute;
      left: 10px;
      top: 18%;
    }
    ul {
      li {
        height: 90px;
      }
    }
  }
  .active {
    display: flex;
    background:black;
    width:100%;
    height:100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    left: 0px;

  }
}
@media only screen and (max-width: $mdDevice) {
  .nav-container{
    position: fixed;
    width: 100%;
    top:83px;
    margin: 0;
    font-size: 1.6em;
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    .nav-list {
      position: absolute;
      left: 10px;
      top: 18%;
    }
  }
  .active {
    display: flex;
    background:black;
    width:100%;
    height:100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    left: 0px;

  }
}
@media only screen and (max-width: $smDevice) {
  .nav-container{
    position: fixed;
    width: 100%;
    top:83px;
    margin: 0;
    font-size: 1.6em;
    display: none;
    left:0px;
    .nav-list {
      position: absolute;
      top: 18%;
      ul {
        width: 100%;
        margin: 0;
        li {
          a {
            align-self: center;
          }
        }
      }
    }
  }
      .active {
        display: flex;
        background:black;
        width:100%;
        height:100%;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
      }
}
@media only screen and (max-width: $xsDevice) {
  ul {
    width: 100%;
    margin: 0;
    li {
      a {
        align-self: center;
      }
    }
  }
}


@keyframes navbuzz {
  0% {
    transform: translate3d(0, 0, 0);
    filter: blur(0);
  }
  20% {
    filter: blur(2px);
  }
  80% {
    // transform: translate3d(-60%, 0, 0);
    filter: blur(0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    filter: blur(0);
  }
}