
.form-container {
  width: 300px;
  display: flex;
  flex-flow: column;

  .form-item {
    padding: 5px;
  }

  .input-label {
    margin: 14px 0 0 0;
  }

  .text-input {
    color:gray;
  }

  .button-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    .submit-button {
      width: 33%;
      padding: 5px;
      margin: 5px 0;
    }
  }
}